# list

* empty list

In [2]:
[]

[]

# Add list

In [6]:
l = ['1','2','3','4']

In [7]:
print(l)

['1', '2', '3', '4']

# Append

In [16]:
l.append('5')

In [18]:
print(l)

['5']

# clear

* copy funvtion is use return a copy of the list as requsted the user

In [14]:
l.clear()

In [15]:
l

[]

Copy

* copy function is use return a copy of the list as requsted the user

In [19]:
l = ['1','2','3','4']

In [20]:
l

['1', '2', '3', '4']

In [21]:
l1 = l.copy()

In [22]:
l1

['1', '2', '3', '4']

# count

* count function is user to return the number of item present in the list

In [25]:
l1 = l1.count('3')

In [26]:
l1

1

# Extend

* extend is use to add the element present in the list or any iterable to the end of the current list

In [27]:
l = ['1','2','3','4']

In [28]:
l

['1', '2', '3', '4']

In [33]:
lr = [22,23]

In [36]:
lr

[22, 23]

In [37]:
l.extend(lr)

In [40]:
print(l)

['1', '2', '3', '4', 12, 13, 22, 23, 22, 23]

# index

* index is use to return the value of index of the first elements

* if the value is not present then reult is error

In [41]:
l = ['1','2','3','4','5']

In [42]:
print(l)

['1', '2', '3', '4', '5']

In [44]:
l = l.index('3')

In [45]:
l

2

# insert

* insert function is use to speecfied valuse at the specified position

In [47]:
l = ['1','2','3','4','5']

In [48]:
l

['1', '2', '3', '4', '5']

In [49]:
l.insert(8,9)

In [50]:
l

['1', '2', '3', '4', '5', 9]

# pop

* pop is use to remove the element at the specific postion

In [51]:
l = ['1','2','3','4','5']

In [52]:
l

['1', '2', '3', '4', '5']

In [53]:
l.pop(0)

'1'

In [54]:
l

['2', '3', '4', '5']

# remove

* remove is use to remove the value of specific function

In [55]:
l = ['1','2','3','4','5']

In [56]:
l.remove ('3')

In [57]:
l

['1', '2', '4', '5']

# reverse

* this function is reverse the oder of the item

In [58]:
l = ['1','2','3','4','5']

In [59]:
l.reverse()

In [60]:
l

['5', '4', '3', '2', '1']

# sort

* this function is use to sort the list in ascendig oder

In [61]:
lx = [45,25,36,22,65,54,44,60]

In [62]:
lx

[45, 25, 36, 22, 65, 54, 44, 60]

In [63]:
lx.sort()

In [64]:
lx

[22, 25, 36, 44, 45, 54, 60, 65]

In [66]:
lx.sort (reverse= True)

In [67]:
lx

[65, 60, 54, 45, 44, 36, 25, 22]