# sets

* Sets are used to store multiple itmes in a single variable.

In [1]:
# empty sets
set = ()
set

()

In [4]:
# set with curly braces
set1 = {1,2,3,4,5}
set1

{1, 2, 3, 4, 5}

In [5]:
# set function
sets = (10,22,33,44,55)
sets

(10, 22, 33, 44, 55)

# add()

* add an element to the sets.if the element already exists , the set remains unchanged.

In [6]:
set1

{1, 2, 3, 4, 5}

In [7]:
set1.add(6)

In [8]:
set1

{1, 2, 3, 4, 5, 6}

# clear()

* it removes all element from the set,leaving it empty.

In [9]:
set1.clear()

In [10]:
set1

set()

# copy()

* it returns a shallow copy of the sets.

In [11]:
set1 ={10,11,12,13,14,15}

In [13]:
set1

{10, 11, 12, 13, 14, 15}

In [15]:
set1.copy()

{10, 11, 12, 13, 14, 15}

In [16]:
set1

{10, 11, 12, 13, 14, 15}

# difference()

* it returns a new set with elements that are in the set but not in the others.

In [17]:
s1 ={4,5,6}
s2 ={7,8,9}

In [18]:
diff_set = s1.difference(s2)

In [20]:
diff_set

{4, 5, 6}

# difference_update()

* it removes elements from the sets that are also in the other.

In [21]:
s1

{4, 5, 6}

In [22]:
s2

{7, 8, 9}

In [23]:
s1.difference_update(s2)

s1

# discard()

* it removes an element from the set,if it is a member.if the element is not a member,do nothing.

In [25]:
set = {7,8,9,4,5}

In [26]:
set

{4, 5, 7, 8, 9}

In [27]:
set1.discard(2)

In [28]:
set1

{10, 11, 12, 13, 14, 15}

# intersection()

* it returns a new set with element commin to set and all others

In [29]:
s1 ={4,5,6}
s2 ={7,6,4}

In [30]:
s1.intersection_update(s2)

In [31]:
s1

{4, 6}

Isdisjoint()

* This methods returns true if the set has no elemnts in common with other.if the set and other are disjoint,returns false otherwise.

In [32]:
s1 = {4,5,6}
s2 = {7,6,4}

In [33]:
s1.isdisjoint(s2)

False

# issubset()

* it returns true if all elemnts of the sets are in other ,false otherwise.

In [34]:
s1.issubset(s2)

False

# pop()

* It removes and returns an arbitary element from the sets. raises key error if the set is empty.

In [35]:
set1 = {1,2,3,4,5}

In [36]:
set1

{1, 2, 3, 4, 5}

In [37]:
set1.pop()

1

In [38]:
set1

{2, 3, 4, 5}

# Symmetic_difference()

* it returns a new set with element in either the set or other but not in both.

In [39]:
s1

{4, 5, 6}

In [46]:
s2

{4, 6, 7}

In [47]:
s1.symmetric_difference(s2)

{5, 7}

# symmetric_differnce_update()


s1.symmetric_difference_update(s2)

In [48]:
s1

{4, 5, 6}

# union()

* It returns a new set with elements from the set and all others

In [49]:
s1.union(s2)

{4, 5, 6, 7}

# update()

* This methods update the sets,adding elements from all others.

In [51]:
s1.update(s2)

In [52]:
s1

{4, 5, 6, 7}